{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react|react-dom)(/.*)?$",
    "^next(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@zrp/(.*)$",
    "^@/(.*)$",
    "^[.]",
    "",
    "<TYPES>",
    "<TYPES>^@zrp/",
    "<TYPES>^@/",
    "<TYPES>^[.]"
  ],
  "importOrderTypeScriptVersion": "5.0.0"
}
